# Bluetooth
CONFIG_BT_HCIUART=m
CONFIG_BT_HCIUART_BCM=y

# Clk
CONFIG_COMMON_CLK_APPLE_T8010_TOUCH=y

# DMA
CONFIG_DMADEVICES=y
CONFIG_APPLE_SIO_DMA=m

# GPIO
CONFIG_GPIO_APPLE_D2365=y

# IIO
CONFIG_TSL2583=y

# IOMMU
CONFIG_IOMMU_SUPPORT=y
CONFIG_APPLE_DART=y

# MFD
CONFIG_MFD_SN2400=y

# Multiplexer
CONFIG_MUX_CORE=y
CONFIG_MUX_SN2400=y

# Networking
CONFIG_WIRELESS=y
CONFIG_CFG80211=m

# NVMe
CONFIG_BLK_DEV_NVME=y

# NVMEM
CONFIG_NVMEM_LAYOUT_APPLE_SYSCFG=y
CONFIG_NVMEM_RMEM=y

# PCI
CONFIG_PCI=y
CONFIG_PCI_MSI=y
CONFIG_PCI_PWRCTRL_APPLE_WIFI=y
CONFIG_PCIE_APPLE_H9P=y

# Power supply
CONFIG_BATTERY_BQ27XXX_HDQ=y
CONFIG_CHARGER_APPLE_SN2400=y

# Regulator
CONFIG_REGULATOR=y

# SoC
CONFIG_APPLE_SIO=m
CONFIG_APPLE_T8010_WLAN=y

# SPI
CONFIG_SPI_APPLE=y

# Touchscreen
CONFIG_INPUT_TOUCHSCREEN=y
CONFIG_TOUCHSCREEN_APPLE_Z2=m

# W1
CONFIG_W1=y
CONFIG_W1_MASTER_UART=y

# Wireless LAN
CONFIG_WLAN=y
CONFIG_BRCMFMAC=m
CONFIG_BRCMFMAC_PCIE=y
