#
# SPDX-FileCopyrightText: The LineageOS Project
# SPDX-License-Identifier: Apache-2.0
#

import /vendor/etc/init/hw/init.mainline.rc

# Cpuset
on early-boot
    write /dev/cpuset/background/cpus 0-3
    write /dev/cpuset/camera-daemon/cpus 0-3
    write /dev/cpuset/foreground/cpus 0-3
    write /dev/cpuset/foreground_window/cpus 0-3
    write /dev/cpuset/restricted/cpus 0-3
    write /dev/cpuset/system-background/cpus 0-3
    write /dev/cpuset/top-app/cpus 0-3

# Display
on property:sys.bootstat.first_boot_completed=1
    write /sys/class/vtconsole/vtcon0/bind 0
    write /sys/class/vtconsole/vtcon1/bind 0

# Firmware
on early-init
    trigger firmware_mounts_complete

# Kernel modules
on init
    # Undo the override from system init.rc
    write /proc/sys/kernel/modprobe /vendor/bin/modprobe_kernel

on early-boot
    exec u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -s -d /vendor/lib/modules --all=/vendor/etc/modules.load.normal

# Mount
on fs
    # Mount everything that does not require fsck
    mount_all --early

on late-fs
    # Mount RW partitions which need run fsck
    mount_all --late

# ZRAM
on early-boot
    swapon_all /vendor/etc/fstab.zram
